<!-- your html code here -->
<div class="contact-section">
    <div>
        <h1 class="h1-contact-section">
            Contact
        </h1>
        <p class="p-contact-section">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta feliz euismod Semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
    </div>
    <div class="form-contact-section">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"><strong>Your E-mail</strong></label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Your email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label"><strong>Your Message</strong></label>
              <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Please enter your message here..." rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>